body {
  /* margin: 0px; */
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage {
  background-image: url(https://wallpaper.dog/large/17212916.jpg);
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  font-size: xx-large;
  color: rgb(176, 147, 127);
}

.title {
  margin: 100px 0px 50px 0px;
}

a {
  color: rgb(123, 179, 223);
  border-radius: 1vmin;
}

a:hover {
  background-color: rgb(123, 179, 223);
  color: white;
  cursor: pointer;
}

.instruction {
  margin: 85px 0px 50px 0px;
  position: relative;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* overflow: auto;  */
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 67%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: beige;
  /* padding: 1rem 1rem; */
  width: 33rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(228, 226, 226);
}

.close-button:hover {
  background-color: rgb(195, 192, 192);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

li{
  word-wrap: break-word;
  font-size: large;
  text-align: left;
}

.music{
  position: relative;
  margin: 280px 0px 5px 0px;
  /* bottom: 30px; */
  /* right: 0; */
}

.gamepage {
  background-image: url(https://e0.pxfuel.com/wallpapers/235/737/desktop-wallpaper-vision-and-background-iphonebackground-tumblrbackground-blackbackground-cute-cartoon-cute-dog-drawing-kawaii.jpg);
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  font-size: xx-large;
  color: palevioletred;
}

section.board {
  display: grid;
  grid-template-rows: repeat(9, 7vmin);
  grid-gap: 0vmin;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}

.row {
  display: grid;
  grid-template-columns: repeat(9, 7vmin);
}

.box {
  font-size: 2vmin;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgb(19, 6, 6);
  color: black;
  background-color: white;
}

.box:first-child {
  border-left: 3px solid rgb(19, 6, 6);
}
.box:nth-child(3n) {
  border-right: 3px solid rgb(19, 6, 6);
}
tr:first-child .box {
  border-top: 3px solid rgb(19, 6, 6);
}
tr:nth-child(3n) .box {
  border-bottom: 3px solid rgb(19, 6, 6);
}

.solve {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgb(180, 223, 248);
  color: violet;
  text-align: center;
  z-index: 10;
  opacity: 0;
  /* transition-duration: '3ms'; */
  pointer-events: none;
  transition: all 250ms ease;
}

button {
  background-color: rgba(79, 79, 79, 0);
  color: palevioletred;
  font-size: 3vmin;
  font-weight: normal;
  border: 2px solid palevioletred;
  border-radius: 3vmin;
}

button:hover {
  background-color: palevioletred;
  color: white;
  cursor: pointer;
}

#home {
  margin: 15px 0px 0px 0px;
}

.game-music {
  margin: 15px 0px 0px 50px;
}

.panel2{
  display: flex;
  font-size: 25px;
}