body {
  margin: 0px;
  height: 97vh;
  align-items: center;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.board {
  display: grid;
  grid-template-rows: repeat(9, 7vmin);
  grid-gap: 0vmin;
  justify-content: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(9, 7vmin);
}

.box {
  font-size: 2vmin;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgb(19, 6, 6);
}
.box:first-child {
  border-left: 3px solid rgb(19, 6, 6);
}
.box:nth-child(3n) {
  border-right: 3px solid rgb(19, 6, 6);
}
tr:first-child .box {
  border-top: 3px solid rgb(19, 6, 6);
}
tr:nth-child(3n) .box {
  border-bottom: 3px solid rgb(19, 6, 6);
}